.Home {
  width: 85%;
  height: 92vh;
  margin: auto;
  display: grid;
  grid-template-columns: 65% 35%;
  justify-self: center;
  align-items: center;
  padding-bottom: 20vh;
}

h1,
h2 {
  background: linear-gradient(180deg, #3f5efb, #fc466b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dev {
  width: 420px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dev h1 {
  font-size: 3rem;
}

.dev p {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: justify;
}

.dev .points {
  display: flex;
  gap: 5px;
}

.dev .points div {
  background: linear-gradient(180deg, #3f5efb, #fc466b);
  display: flex;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -mz-border-radius: 50%;
  -o-border-radius: 50%;
}

.buttons {
  width: 420px;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.buttons h2 {
  font-size: 3rem;
  font-weight: 700;
}

.buttons div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.buttons div a {
  color: #fc466b;
  width: 140px;
  height: 40px;
  text-decoration: none;
  font-size: 1.3rem;
  border: 2.5px solid #fc466b;
  border-radius: 10px;
  border-image-slice: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons div a:hover {
  background: linear-gradient(180deg, #3f5efb, #fc466b);
  color: #fff;
}
